{% extends 'base_2.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
      <div class="page-header min-height-0 border-radius-xl mt-4">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="{% static 'img/illustrations/Kanban.png' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{robot.name}}
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                {{robot.description}}
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                <li class="nav-item">
                  <a class="btn btn-link text-dark px-1 mb-0" href="{% url 'robot-update' robot.id %}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true">&nbsp; Edit</i></a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-link text-danger text-gradient px-1 mb-0" href="{% url 'robot-delete' robot.id %}"><i class="far fa-trash-alt me-2">&nbsp; Delete</i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header pb-0 px-3">
                  <h6 class="mb-0">Robots info</h6>
                </div>
                <div class="card-body pt-4 p-3" style="min-height: 15rem;">
                  <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Project:</strong> &nbsp; {{robot.project}}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Notes:</strong> {{robot.notes}}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Owner:</strong> {{robot.owner}} </li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Created:</strong> {{robot.created}} </li>
                 </ul>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header pb-0 px-3">
                  <h6 class="mb-0">Robots parameters</h6>
                </div>
                <div class="card-body pt-5 p-3" style="min-height: 15rem;">
                  <div class="row mb-3">
                        <div class="col-4">
                         <li class="list-group">
                              <span class="mb-2 text-xs">Link1: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link1}} mm</span></span>
                              <span class="mb-2 text-xs">Link2: <span class="text-dark ms-sm-2 font-weight-bold">{{robot.link2}} mm</span></span>
                              <span class="mb-2 text-xs">Link3: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link3}} mm</span></span>
                              <span class="mb-2 text-xs">Link4: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link4}} mm</span></span>
                              <span class="mb-2 text-xs">Link5: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link5}} mm</span></span>
                         </li>
                        </div>
                        <div class="col-4">
                         <li class="list-group">
                              <span class="mb-2 text-xs">Link1 min: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link1_min}} deg</span></span>
                              <span class="mb-2 text-xs">Link2 min: <span class="text-dark ms-sm-2 font-weight-bold">{{robot.link2_min}} deg</span></span>
                              <span class="mb-2 text-xs">Link3 min: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link3_min}} deg</span></span>
                              <span class="mb-2 text-xs">Link4 min: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link4_min}} deg</span></span>
                              <span class="mb-2 text-xs">Link5 min: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link5_min}} deg</span></span>
                         </li>
                        </div>
                        <div class="col-4">
                         <li class="list-group">
                              <span class="mb-2 text-xs">Link1 max: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link1_max}} deg</span></span>
                              <span class="mb-2 text-xs">Link2 max: <span class="text-dark ms-sm-2 font-weight-bold">{{robot.link2_max}} deg</span></span>
                              <span class="mb-2 text-xs">Link3 max: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link3_max}} deg</span></span>
                              <span class="mb-2 text-xs">Link4 max: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link4_max}} deg</span></span>
                              <span class="mb-2 text-xs">Link5 max: <span class="text-dark font-weight-bold ms-sm-2">{{robot.link5_max}} deg</span></span>
                         </li>
                        </div>
                      </div>
                  <!-- Button trigger modal -->
                  <a class="btn btn-link text-dark ps-0 mb-0 ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">View description</a>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: max-content">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Robot parameters description</h5>
                          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="{% static 'img/scheme.png' %}" class="display-2" alt="xd">
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row justify-content-md-center py-4">
          <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
            <div class="card" style="min-height: 16rem;">
              <div class="card-header pb-0">
                <div class="row">
                  <div class="col-lg-6 col-7">
                    <h6>Calculations</h6>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pb-2 h-100" >
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Notes</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Modify date</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Modified by</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Forward kinematic</h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex flex-column px-2">
                            {% if fk_kinematics %}
                                {% for fk in fk_kinematics %}
                                    <h6 class="mb-0 text-sm">{{fk.notes}}</h6>
                                {% endfor %}
                              {% else %}
                               <h6 class="mb-0 text-sm">None</h6>
                            {% endif %}
                          </div>
                        </td>
                        <td>
                          <div class="d-flex flex-column px-1">
                              {% if fk_kinematics %}
                                {% for fk in fk_kinematics %}
                                    <h6 class="mb-0 text-sm">{{fk.modified}}</h6>
                                {% endfor %}
                              {% else %}
                               <h6 class="mb-0 text-sm">None</h6>
                              {% endif %}
                          </div>
                        </td>
                        <td>
                          <div class="avatar-group mt-2 px-4">
                              {% if fk_kinematics %}
                                {% for fk in fk_kinematics %}
                                    <a href="{% url 'profile-info' fk.modified_by.id%}" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{fk.modified_by}}">
                                      <img src="{{fk.modified_by.avatar.url}}" alt="{{fk.modified_by}}">
                                    </a>
                                {% endfor %}
                              {% else %}
                               <h6 class="mb-0 text-sm">None</h6>
                              {% endif %}

                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          {% if fk_kinematics %}
                            {% for fk in fk_kinematics %}
                                <a class="btn btn-link mb-0" href="{% url 'fk-update' fk.id %}">View</a>
                            {% endfor %}
                          {% else %}
                            <a class="btn btn-link mb-0" href="{% url 'fk-create' %}">Create</a>
                          {% endif %}

                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">Inverse kinematic</h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex flex-column px-2">
                            {% if ik_kinematics %}
                                {% for ik in ik_kinematics %}
                                    <h6 class="mb-0 text-sm">{{ik.notes}}</h6>
                                {% endfor %}
                              {% else %}
                               <h6 class="mb-0 text-sm">None</h6>
                            {% endif %}
                          </div>
                        </td>
                        <td>
                          <div class="d-flex flex-column px-1">
                              {% if ik_kinematics %}
                                {% for ik in ik_kinematics %}
                                    <h6 class="mb-0 text-sm">{{ik.modified}}</h6>
                                {% endfor %}
                              {% else %}
                               <h6 class="mb-0 text-sm">None</h6>
                              {% endif %}
                          </div>
                        </td>
                        <td>
                          <div class="avatar-group mt-2 px-4">
                              {% if ik_kinematics %}
                                {% for ik in ik_kinematics %}
                                    <a href="{% url 'profile-info' ik.modified_by.id%}" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ik.modified_by}}">
                                      <img src="{{ik.modified_by.avatar.url}}" alt="{{ik.modified_by}}">
                                    </a>
                                {% endfor %}
                              {% else %}
                               <h6 class="mb-0 text-sm">None</h6>
                              {% endif %}
                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          {% if ik_kinematics %}
                            {% for ik in ik_kinematics %}
                                <a class="btn btn-link mb-0" href="{% url 'ik-update' ik.id %}">View</a>
                            {% endfor %}
                          {% else %}
                            <a class="btn btn-link mb-0" href="{% url 'ik-create' %}">Create</a>
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}